body {
    font-family: 'Dancing Script', cursive;
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
}

.container {
  /*  margin-top: 20px;  */
    padding-top: 20px; 
    padding-bottom: 20px; 
    background-color: black;
    width: 100%;
    max-width: 1000px;
    border: 1px solid;
    border-color: #9C854F;
    text-align: center;
    color: #9C854F;
    font-size: 25px;
    opacity: 0.9;
}

.jumbotron{
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    border: 1px solid;
    border-color: #9C854F;
}

#title {
    font-size: 50px;
}

#screen{
    background-color: black;
    border: 1px solid;
    border-color: #9C854F;
    margin-top: 20px;
}

 .btn{
    border: 1px solid;
    border-color: #9C854F;
    color: #9C854F;
    font-size: 40px;
}

p{
margin-top: 20px;
margin-bottom: 20px;
font-size: 25px;
}

.question {
    border: 1px solid;
    border-color: #9C854F;
    padding-top: 10px;
    padding-bottom: 10px;
}