body {
    font-family: 'Dancing Script', cursive;
    background: url("../images/artdeco.jpg");  
}

.container {
    margin-top: 40px;
    padding-top: 20px; 
    padding-bottom: 20px; 
    background-color: black;
    width: 100%;
    max-width: 1000px;
    border: 1px solid;
    border-color: #b99e03;
    text-align: center;
    color: #b99e03;
    font-size: 25px;
  /*  opacity: 0.5; */
}

.jumbotron{
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    border: 1px solid;
    border-color: #b99e03;
}

#title {
    font-size: 60px;
}

#screen{
    background-color: black;
    border: 1px solid;
    border-color: #b99e03;
    margin-top: 20px;
}

 .btn{
    border: 1px solid;
    border-color: #b99e03;
    color: #b99e03;
    font-size: 40px;
}

p{
margin-top: 15px;
    margin-bottom: 15px;
}

/*
a:link {
    color: #b99e03;
    background-color: black;
}

a:hover { 
    background-color: #b99e03;
    color: black;
}

a:active { 
    background-color: #b99e03;
    color: black;
}

a:visited { 
    color: #b99e03;
}


